$min-width-xsmall: 420px;
$min-width-small: 768px;
$color-monster-ball-red: #f60002;
$color-monster-ball-outline-black: #1b1a1a;
$color-theme-pink: #e38a8a;
$color-btn-primary: #c8fdcb;
$color-btn-secondary: #f7ed94;
$color-btn-tertiary: #76aaef;
$color-btn-fourth: #e0dede;
